.project-goal {
	align-self: flex-start;
}

.project-milestone-progress {
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
}

.project-milestone-progress::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 18px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.project-milestone-progress::-webkit-progress-value {
	background-image: linear-gradient(to bottom right, var(--primary-color), 50%, var(--secondary-color));

	border-radius: 18px;
}

.project-milestone-progress-count {
	align-self: flex-start;
}

.project-milestone {
	background-color: var(--base-card-subsection-bg);
	padding: 1rem;

	border-radius: 4px;

	display: flex;
	flex-direction: column;

	transition: all .3s ease;
}

.project-milestone:hover {
	background-color: var(--base-card-subsection-hover);
}

.milestones {
	text-align: start;
	margin-bottom: 1rem;
	}

.milestone {
	list-style: none;
	align-self: flex-start;
}

.milestone-completed {
	text-decoration: line-through;
	text-decoration-thickness: 1px;
	text-decoration-color: var(--base-card-bg);
}