#logo-l {
	transform-origin: 150% 100%;
	animation: fallover 1s ease forwards;
}

#logo0 {
	transform: translateY(100%);
	transition: transform;
	animation: popup 0.5s cubic-bezier(0.3, 0.7, 0.4, 1.5) 1s forwards;
}
#logo1 {
	transform: translateY(100%);
	transition: transform;
	animation: popup 0.5s cubic-bezier(0.3, 0.7, 0.4, 1.5) 1.3s forwards;
}
#logo2 {
	transform: translateY(100%);
	transition: transform;
	animation: popup 0.5s cubic-bezier(0.3, 0.7, 0.4, 1.5) 1.6s forwards;
}
#logo3 {
	transform: translateY(100%);
	transition: transform;
	animation: popup 0.5s cubic-bezier(0.3, 0.7, 0.4, 1.5) 1.9s forwards;
}
#logo4 {
	transform: translateY(100%) ;
	transition: transform;
	animation: popupI 0.5s cubic-bezier(0.3, 0.7, 0.4, 1.5) 2.2s forwards;
}
#logo5 {
	transform: translateY(100%);
	transition: transform;
	animation: popup 0.5s cubic-bezier(0.3, 0.7, 0.4, 1.5) 2.5s forwards;
}
#logo6 {
	transform: translateY(100%);
	transition: transform;
	animation: popup 0.5s cubic-bezier(0.3, 0.7, 0.4, 1.5) 2.8s forwards;
}

@keyframes popup {
	to {
		transform: translateY(0);
	}
}
@keyframes popupI {
	to {
		transform: translateY(0) translateX(6px);
	}}

@keyframes fallover {
	/* to {
    transform: rotate(90deg) translateY(100%);
  } */
	50% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(90deg) translateY(130%);
	}
}
