#logo-l {
  transform-origin: 100% 100%;
	animation: fallover 1s ease forwards;
}

@keyframes fallover {
  /* to {
    transform: rotate(90deg) translateY(100%);
  } */
	50% {
		transform: rotate(90deg);
	}
  100% {
    transform: rotate(90deg) translateY(100%);
  }
}
