.project-goal {
	align-self: flex-start;
}

.project-progress {
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
}

.project-progress::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 18px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.project-progress::-webkit-progress-value {
	background-image: linear-gradient(to bottom right, #fbff00, 50%, #ff9100);

	border-radius: 18px;
}

.project-progress-count {
	align-self: flex-start;
}
